.meta-form-zuo{width: 30%;text-align: right!important;}
.meta-form-you{float: left;width: 70%;}
.meta-form-button{text-align: center;margin: 1.6rem;}
.meta-form-bd{padding: 15px;background: #f8f8f8;color: #555;height: 100%;}
