

/*新建*/
.new {
    background: transparent url(../image/new.gif) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*修改*/
.edit {
    background: transparent url(../image/edit.gif) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*保存*/
.save {
    background: transparent url(../image/save.gif) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*删除*/
.delete {
    background: transparent url(../image/delete.gif) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*刷新*/
.refresh {
    background: transparent url(../image/refresh.png) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*查找*/
.search {
    background: transparent url(../image/search.gif) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*权限设置*/
.role-setup {
    background: transparent url(../image/role-setup.gif) no-repeat 0 2px !important;
    padding-left: 20px !important;
}

/*已关联*/
.linked {
    background: transparent url(../image/linked.gif) no-repeat 0 3px !important;
    padding-left: 20px !important;
}

/*下面是过滤组件用到的样式*/
.filter-read-y {
    background: transparent url(../image/read-y.gif) no-repeat 2px 2px !important;
}

.filter-read-n {
    background: transparent url(../image/read-n.gif) no-repeat 2px 2px !important;
}

.filter-sended {
    background: transparent url(../image/sended.gif) no-repeat 2px 2px !important;
}

.btn-all {
    background: transparent url(../image/all.gif) no-repeat 2px 2px !important;
}

.tabpanel {
    overflow: hidden;
}

.tabpanel_tab_content {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #E1DFE0;
    background: url(../image/TabPanel/bg_table.jpg) repeat-x;
    border: 1px solid #99D3FB;
    padding-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.tabpanel_tab_content .tabpanel_move_content {
    width: 0px;
    overflow: hidden;
}

.tabpanel_move_content_scroll {
    margin-left: 18px;
    margin-right: 18px;
}

.tabpanel_mover {
    width: 5000px;
    margin: 0;
    padding: 0;
    position: relative;
}

.tabpanel_mover li {
    background: transparent url(../image/TabPanel/tab-bg.gif) repeat-x;
    height: 22px;
    line-height: 22px;
    background-color: #EFEFEF;
    border: solid 1px #8DB2E3;
    margin-top: 2px;
    margin-left: 2px;
    float: left;
    position: relative;
    list-style-type: none;
    cursor: pointer;
}

.tabpanel_mover li .closer {
    background: transparent url(../image/TabPanel/tab-close.gif) no-repeat;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.tabpanel_mover li .title {
    font-size: 12px;
    padding-left: 5px;
    margin-right: 18px;
    color: #23508E;
    display: inline;
}

.tabpanel_mover li.active {
    background: transparent url(../image/TabPanel/tab-bg-active.gif) repeat-x;
    border-bottom: solid 1px #DEECFD;
    background-color: #DDEEFE;
    font-weight: bold;
}

.tabpanel_tab_content .tabpanel_left_scroll {
    background: transparent url(../image/TabPanel/scroll-left.gif) no-repeat 0px 0;
    border-bottom: solid 1px #8DB2E3;
    position: absolute;
    width: 18px;
    height: 24px;
    left: 0px;
    top: 1px;
    cursor: pointer;
    z-index: 10;
}

.tabpanel_tab_content .tabpanel_right_scroll {
    background: transparent url(../image/TabPanel/scroll-right.gif) no-repeat 0 0;
    border-bottom: solid 1px #8DB2E3;
    position: absolute;
    width: 18px;
    height: 24px;
    right: 0px;
    top: 1px;
    cursor: pointer;
    z-index: 10;
}

.tabpanel_tab_content .tabpanel_scroll_over {
    background-position: -18px 0;
}

.tabpanel_tab_content .tabpanel_left_scroll_disabled {
    background-position: 0 0;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
    cursor: default;
}

.tabpanel_right_scroll_disabled {
    background-position: -36px 0;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
    cursor: default;
}

.display_none {
    display: none;
}

.disabled {
    color: gray;
}

.tabpanel_tab_content .tabpanel_tab_spacer {
    border-top: 1px solid #8DB2E3;
    height: 2px;
    background: #DEECFD;
    font-size: 1px;
    line-height: 1px;
    margin-top: -1px;
}

.tabpanel_content {
    border: 1px solid #8DB2E3;
    background-color: #FFF;
    border-top: 0 none;
    overflow: auto;
    position: relative;
    overflow: hidden;
}

.tabpanel_content .html_content {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.toolbar {
    background-color: #D6E3F3;
    width: 100%;
    white-space: nowrap;
    background: url(../image/Toolbar/bg.gif) repeat-x;
    position: relative;
    float: left;
}

.toolbar table {
    float: left;
}

.toolbar tr {
    background-color: #D6E3F3;
}

.toolbar td {
    vertical-align: middle;
    line-height: 150%;
    padding: 0px;
    font-size: 12px;
}

.toolbar .spacer {
    height: 17px;
    font-size: 1px;
    border-left: solid 1px #9AC6FF;
    border-right: solid 1px white;
    display: block;
    margin: 0 2px;
    padding: 0;
}

.toolbar .textfield {
    padding: 2px 3px 1px 3px;
    background: #FFFFFF url(../image/text-bg.gif) repeat-x 0 0;
    border: 1px solid #B5B8C8;
    width: 140px;
}

.toolbar .b_left, .b_right, .b_center {
    cursor: pointer;
}

.toolbar .b_left {
    width: 3px;
}

.toolbar .b_right {
    width: 3px;
}

.toolbar .b_center {
    border-bottom: solid 1px #D0DEF0;
}

.toolbar .over .b_left {
    background: url(../image/Toolbar/tb_border.gif) no-repeat 0 0;
    width: 3px;
}

.toolbar .over .b_right {
    background: url(../image/Toolbar/tb_border.gif) no-repeat 0 -21px;
    width: 3px;
}

.toolbar .over .b_center {
    background: url(../image/Toolbar/tb_border.gif) repeat-x 0 -42px;
    border-bottom: solid 1px #9EBAE1;
}

.toolbar .b_center button {
    border: 0 none;
    background: transparent;
    height: 20px;
    font: normal 12px tahoma, verdana, helvetica;
    padding: 0 3px;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    width: auto;
    min-width: 20px;
    -moz-outline: 0 none;
    outline: 0 none;
    *width: 20px; /* Hack for IE6&7 */
}

.toolbar .down .b_left {
    background: url(../image/Toolbar/tb_border.gif) no-repeat 0 -63px;
}

.toolbar .down .b_right {
    background: url(../image/Toolbar/tb_border.gif) no-repeat 0 -84px;
}

.toolbar .down .b_center {
    background: url(../image/Toolbar/tb_border.gif) repeat-x 0 -105px;
    border-bottom: solid 1px #9EBAE1;
}

.toolbar .filterTable {
    position: absolute;
    right: 2px;
    top: 2px;
}

.toolbar .filter-spacer {
    height: 21px;
    font-size: 1px;
    border-left: solid 1px #84A4CE;
    border-right: solid 1px white;
    display: block;
    margin: 0;
    padding: 0;
}

.toolbar .border-center-active {
    background: url(../image/Toolbar/filter-down-bg.gif) repeat-x 0 0 !important;
}

.toolbar .border-left-active {
    background: url(../image/Toolbar/filter-down-border.gif) no-repeat 0 0 !important;
}

.toolbar .border-right-active {
    background: url(../image/Toolbar/filter-down-border.gif) no-repeat 0 -21px !important;
}

.az {
    display: none;
    height: 26px;
    line-height: 26px;
    width: 100%;
    background: url(../image/Toolbar/bg.gif) repeat-x;
    background-color: #D6E3F3;
    position: absolute;
    left: 0;
    z-index: 2;
}

.az table {
    table-layout: fixed;
    width: 100%;
}

.az table tr td {
    text-align: center;
    font-size: 11px;
    padding: 0;
    margin: 0;
    color: #444444;
    cursor: pointer;
}

.az table tr td.tdover {
    font-weight: bold;
    color: #23508E;
}

.az table tr td.tdovered {
    font-weight: bold;
    color: red;
}

.az-fix {
    position: absolute;
    display: none;
    z-index: 3;
}

.az-fix td {
    font-size: 1px;
    height: 6px;
}

.az-fix .left {
    width: 4px;
    background: url(../image/Toolbar/fix_border.gif) no-repeat 0 0;
}

.az-fix .right {
    width: 4px;
    background: url(../image/Toolbar/fix_border.gif) no-repeat -5px 0;
}

.az-fix .center {
    background: url(../image/Toolbar/fix_bg.gif) repeat-x;
}

.az-fix-2 {
    position: absolute;
    display: none;
    z-index: 3;
}

.az-fix-2 td {
    font-size: 1px;
    height: 5px;
}

.az-fix-2 .left {
    width: 4px;
    background: url(../image/Toolbar/fix_border_2.gif) no-repeat 0 0;
}

.az-fix-2 .right {
    width: 4px;
    background: url(../image/Toolbar/fix_border_2.gif) no-repeat -5px 0;
}

.az-fix-2 .center {
    background: url(../image/Toolbar/fix_bg_2.gif) repeat-x;
}
